name: Prerelease
on:
  push:
    branches:
      - dev
    paths:
      - XMOJ.user.js
  workflow_dispatch:
jobs:
  prerelease:
    name: Prerelease
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Update version
        id: update_version
        run: node ./Update/Prerelease.js
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.update_version.outputs.version }}
          release_name: ${{ steps.update_version.outputs.version }}
          draft: false
          prerelease: true
          body: ${{ steps.update_version.outputs.version }}
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./XMOJ.user.js
          asset_name: XMOJ.user.js
          asset_content_type: text/plain
